<app-loading *ngIf="loading"></app-loading>

<div class="row animated fadeIn" *ngIf="!loading">
  <div class="col-2">
    <img [src]="artist.images | noimage" class="img-thumbnail img-circle" />
  </div>
  <div class="col">
    <h1>{{ artist.name }}</h1>
    <p>
      <a [href]="artist.external_urls.spotify" target="_blank">
        Ver en Spotify
      </a>
    </p>
    <span class="badge badge-primary"
      >Followers: {{ artist.followers.total | number }}</span
    ><br />
    <span class="badge badge-danger"
      >Popularity: {{ artist.popularity }}/100</span
    >
  </div>

  <div class="col-4 text-right">
    <button routerLink="/home" class="btn btn-outline-danger">Volver</button>
  </div>
</div>

<div class="mt-5 mb-5">
  <ul class="list-group m-2" *ngFor="let track of topTraks">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <div class="d-flex justify-content-between align-items-center">
        <iframe
          [src]="track.uri | domseguro"
          width="80"
          height="80"
          frameborder="0"
          allowtransparency="true"
          allow="encrypted-media"
        >
        </iframe>
        <span class="track-name"> {{ track.name }} </span>
      </div>
      <span>{{ track.duration_ms | date: "mm:ss" }}</span>
    </li>
  </ul>
</div>
